@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

:root {
    --RacingGreen: #263D19;
    --MangoYellow: #d69e2e;
    --TextWhite: #F5F5F5;
    --TextBlack: #272727;
    --GreyInput: #BEBEBE;
    --GreenValidate: #00FF08;
    --OrangeWaiting: #FF6A00;
    --RedRejected: #E80004;
    --OrangeEdit: #FF723E
}
