@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,400;1,14..32,400&display=swap');
@import "tailwindcss";
@import "flowbite/src/themes/default";

@plugin "flowbite/plugin";
@source "../node_modules/flowbite";


:root {
  --Inter: "Inter", sans-serif;
  --Background : rgba(194, 194, 194, 0.999) ;
  --Icone: #082544;
  --IconeHover :#5a8bb1 ;

  --WhiteGlass : rgba(255, 255, 255, 0.566) ;

  --BlueNavy : #374151;


  --RacingGreen: #263D19;
  --MangoYellow: #d69e2e;
  --TextWhite: #F5F5F5;
  --TextBlack: #272727;
  --GreyInput: #BEBEBE;
  --GreenValidate: #00FF08;
  --OrangeWaiting: #FF6A00;
  --RedRejected: #E80004;
  --OrangeEdit: #FF723E;
}

* {
  font-family: var(--Inter);
}

body{
  background-color: var(--Background);
}
